extends ../layout

block content


  .home-page.col-xs-12(ng-controller="publicationByStateController", ng-init="init()")
    input#state(type=hidden, value=estado, name="state")
    .img-container
      //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        p(class="title-class transform-text") #{estado}
    .cards.col-xs-12(ng-show="publications.length > 0")
      .card-container.col-md-4(ng-repeat="publication in publications track by publication._id", ng-init="getCommentsCount(publication._id, $index)")
        .card-rect.col-xs-12
          .header.col-xs-12
            label {{publication.state}}
            label.pull-right {{publication.date | date}}
          .img-card
            //aqui seria enviarlo mejor con angular
            a(href='/publications/byId/{{publication._id}}')

              img(ng-src='/publications/getImages/{{publication.imagePreview}}', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') {{publication.commentsCount}} comentarios
            label(class="title-card") {{publication.title}}
            p(class="info-card") {{publication.content}}
            .user-autor
              .perfil-img
                img(src='/publications/getImages/{{publication.author.profilePicture}}', height='100%', width='100%')
              p.col-xs-12.p-name {{publication.author.name}}
              p.col-xs-12.p-date {{publication.postDate | date}}
    .fixed-action-btn(style='bottom: 45px; right: 24px;')
      a.btn-floating.btn-large.bgm-blue.tippy-up(href="#", title="Ir hacia arriba")
        i.fa.fa-angle-up.icon-go-top

    .col-xs-12.text-align-c(ng-show="publications.length == 0")
      .empty-state-holder
        img(src='/images/pedroSad.png')
        p Achis achis los mariachis, esto esta mas vacío que un desierto!
        p puedes hacer
          a(href='/publications/new/publication') clic aquí
          | para crear una nueva publicación
