extends layout

block content

    .home-page.col-xs-12.p-t-110.bg-chat(ng-controller='chatController', ng-init=`userId = '${user._id}'`)

        div.msg-box-container
            .chat-style#messageBody
                section
                    div
                        .from-them.msg-cont
                            p.m-b-0 Hola! aqui puedes iniciar un tema de discusión
                        .clear
                    div(ng-repeat='mensaje in mensajes track by $index')
                        .msg-text(ng-show=`mensaje.user._id==='${user._id}'`)
                            div
                                img(ng-src='/publications/getImages/{{publication.author.profilePicture}}', height='100%', width='100%')
                            .from-me.msg-cont
                                p.name(style="overflow: hidden;display: -webkit-box !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical;") {{mensaje.user.name}}
                                p {{mensaje.mensaje}}
                                p.date {{mensaje.date | date:'dd/MM/yyyy h:mma'}}
                            .clear
                        .msg-text(ng-show=`mensaje.user._id!=='${user._id}'`)
                            .from-them.msg-cont
                                p.name(style="overflow: hidden;display: -webkit-box !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical;") {{mensaje.user.name}}
                                p {{mensaje.mensaje}}
                                p.date {{mensaje.date | date:'dd/MM/yyyy h:mma'}}
                            .clear
            .msg-send
                input#texto(ng-model='input')
                button#boton.btn.btn-primary.m-b-50.btn-send-msg(ng-disabled="input.length === 0")
                    i.fa.fa-send