extends layout

block content
    .container-404
        .boo-wrapper
            .boo
                .face
            .shadow
            h1 404
            p
                | No encontramos la página que solicitaste (o tal vez si existe pero entraste a la Matrix)
                //br
                //|       Te mandaremos a la página principal en
