doctype html
html
  head
    title historyBoard
    meta(id="viewport", name="viewport", content ="width=device-width")
    link(rel='shortcut icon', type='image/x-icon', href='http://icons.veryicon.com/ico/Flag/Round%20World%20Flags/Mexico.ico')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    block content
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/functions.js')

