doctype html
html
  head
    title historyBoard
    meta(id="viewport", name="viewport", content ="width=device-width")
    link(rel='shortcut icon', type='image/x-icon', href='/images/cactus.ico')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/tippy.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    if (showSideNav)
      nav.navbar.navbar-default.navbar-fixed-top.navbar-board
        .container-nav
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.button-collapse.navbar-brand.d-initial( )
              svg#hamburguer(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30',data-activates='slide-out')
                path.line.line-top(d='M0,9h30')
                path.line.line-center(d='M0,15h30')
                path.line.line-bottom(d='M0,21h30')
          #navbar.navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='#', class='make-publication') Hacer publicacion
              li.dropdown.notifications
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                  i.fa.fa-bell(aria-hidden='true')
                  .notifications-badge
                    p 10
                ul.dropdown-menu
                  li.dropdown-header Notificaciones
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
                  li
                    a(href='#')
                      p.name Ararat Mendez
                      p.action-noti Comento 'La tripe alianza'
              li
                a(href='z#')
                  i.fa.fa-home(aria-hidden='true')

          ul#slide-out.side-nav
            li
              .user-view
                .background
                  img(src='/images/sidenav-fondo.jpeg')
                a(href='#!user', class='')
                  img.circle(src='/images/login.jpg')
                a(href='#!name',class='name-sidenav')
                  span.white-text.name John Doe
                a(href='#!email',class='perfil-boton')
                  span.white-text.button-perfil Ver mi perfil
              .black-capa

            li.sidenav-link
              a.waves-effect(href='#!')
                i.fa.fa-user(aria-hidden='true')
                | Mis Publicaciones
            li
              .divider.m-0
            li.sidenav-link

              a.waves-effect(href='#!')
                i.fa.fa-pencil-square-o(aria-hidden='true')
                | Hacer Publicación
            li
              .divider.m-0
            li.sidenav-link
              a.waves-effect(href='#!')
                i.fa.fa-calendar(aria-hidden='true')
                | Buscar Año
            li
              .divider.m-0
            li.sidenav-link
              a.waves-effect(href='/publicaciones/byEstado')
                i.fa.fa-globe(aria-hidden='true')
                | Mapa Interactivo
            li
              .divider.m-0
            li.sidenav-link
              a.waves-effect(href='/')
                i.fa.fa-power-off(aria-hidden='true')
                | Salir
    block content
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
    script(src='/javascripts/lib/materialize.min.js')
    script(src='/javascripts/lib/tippy.min.js')
    script(src='/javascripts/functions.js')

