extends layout

block content

  .home-page.col-xs-12(ng-controller="notificationController", ng-init="init()")
    .img-container
      //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        p(class="title-class") NOTIFICACIONES
    .cards.col-xs-12.notifications
      .col-xs-12.text-align-c.new-pub
        p.col-xs-12.p-new Aqui puedes ver todas tus notificaciones
        .row.col-xs-12(ng-repeat="notification in allNotifications")
          .input-field.col.s12
            label.active.label-act() {{notification.comment.author.name}} comentó
              a(href='/publications/byId/{{notification.comment.publication._id}}')
                | {{notification.comment.publication.title}}
            p {{notification.comment.content}}