extends layout

block content
    nav.navbar.navbar-default.navbar-fixed-top.navbar-board
        .container-nav
            .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.button-collapse.navbar-brand.d-initial( )
                    svg#hamburguer(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30',data-activates='slide-out')
                        path.line.line-top(d='M0,9h30')
                        path.line.line-center(d='M0,15h30')
                        path.line.line-bottom(d='M0,21h30')
            #navbar.navbar-collapse.collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href='#', class='make-publication') Hacer publicacion
                    li.dropdown.notifications
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.fa.fa-bell(aria-hidden='true')
                            .notifications-badge
                                p 10
                        ul.dropdown-menu
                            li.dropdown-header Notificaciones
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                            li
                                a(href='#')
                                    p.name Ararat Mendez
                                    p.action-noti Comento 'La tripe alianza'
                    li
                        a(href='z#')
                            i.fa.fa-home(aria-hidden='true')

            ul#slide-out.side-nav
                li
                    .user-view
                        .background
                            img(src='/images/sidenav-fondo.jpeg')
                        a(href='#!user', class='')
                            img.circle(src='/images/login.jpg')
                        a(href='#!name',class='name-sidenav')
                            span.white-text.name John Doe
                        a(href='#!email',class='perfil-boton')
                            span.white-text.button-perfil Ver mi perfil
                    .black-capa

                li.sidenav-link
                    a.waves-effect(href='#!')
                        i.fa.fa-user(aria-hidden='true')
                        | Mis Publicaciones
                li
                    .divider.m-0
                li.sidenav-link

                    a.waves-effect(href='#!')
                        i.fa.fa-pencil-square-o(aria-hidden='true')
                        | Hacer Publicación
                li
                    .divider.m-0
                li.sidenav-link
                    a.waves-effect(href='#!')
                        i.fa.fa-calendar(aria-hidden='true')
                        | Buscar Año
                li
                    .divider.m-0
                li.sidenav-link
                    a.waves-effect(href='#!')
                        i.fa.fa-globe(aria-hidden='true')
                        | Mapa Interactivo
                li
                    .divider.m-0
                li.sidenav-link
                    a.waves-effect(href='#!')
                        i.fa.fa-power-off(aria-hidden='true')
                        | Salir

    .home-page.col-xs-12
        .img-container
            //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
            .img-header
            .black-cover
                p(class="title-class") ULTIMAS PUBLICACIONES
        .cards.col-xs-12
            .card-container.col-md-4
                .card-rect.col-xs-12
                    .header.col-xs-12
                        label Chihuahua
                        label.pull-right 11/05/1970
                    .img-card
                        a(href='#')

                            img(src='/images/plaza.jpg', height='100%')
                            div(class='ref-link')
                                .black-link
                                    img(src='/images/logo.png', width='100%')
                                    p Ver mas
                    .info-container
                        a(href='#')
                            .edit-btn
                                div(class="")
                                    i.fa.fa-pencil(aria-hidden='true')
                                    p(class='p-likes') Editar
                        a(href='#', data-toggle="modal", data-target="#deleteModal")
                            .delete-btn
                                div(class="")
                                    i.fa.fa-trash(aria-hidden='true')
                                    p(class='p-likes') Eliminar
                        label(class="title-card") La Triple Alianza y los señorios independientes
                        p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
                        .user-autor
                            .perfil-img
                                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
                            p.col-xs-12.p-name Ararat Mendez
                            p.col-xs-12.p-date 14/01/2017

    #deleteModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header.red.lighten-1
                    h5#exampleModalLabel.modal-title.color-white BORRAR PUBLICACION
                .modal-body
                    .text-align-c.font-delete-modal
                        | Seguro que quieres eliminar tu publicación?
                    .text-align-c.m-b-40.m-t-40
                        img(src='/images/pedroSad.png', class='w-145px')
                .modal-footer
                    a.btn.btn-secondary.grey(type='button', data-dismiss='modal') CERRAR
                    a.btn.btn-danger.red.lighten-1(type='button') ELIMINAR
