extends ../layout

block content


  .home-page.col-xs-12
    .img-container
      //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        p(class="title-class") BUSCA POR FECHA
    .row
      form.col.s12
        .row
          .input-field.col.s10.m-l-8pct.m-t-60
            i.prefix.fa.fa-search
            input#icon_prefix.validate(type='text')
            label(for='icon_prefix') Fecha
    .cards.col-xs-12
      .card-container.col-md-4
        .card-rect.col-xs-12
          .header.col-xs-12
            label Chihuahua
            label.pull-right 11/05/1970
          .img-card
            a(href='#')

              img(src='/images/plaza.jpg', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') 100 comentarios
            label(class="title-card") La Triple Alianza y los señorios independientes
            p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
            .user-autor
              .perfil-img
                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
              p.col-xs-12.p-name Ararat Mendez
              p.col-xs-12.p-date 14/01/2017
      .card-container.col-md-4
        .card-rect.col-xs-12
          .header.col-xs-12
            label Chihuahua
            label.pull-right 11/05/1970
          .img-card
            a(href='#')

              img(src='/images/plaza.jpg', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') 100 comentarios
            label(class="title-card") La Triple Alianza y los señorios independientes
            p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
            .user-autor
              .perfil-img
                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
              p.col-xs-12.p-name Ararat Mendez
              p.col-xs-12.p-date 14/01/2017
      .card-container.col-md-4
        .card-rect.col-xs-12
          .header.col-xs-12
            label Chihuahua
            label.pull-right 11/05/1970
          .img-card
            a(href='#')

              img(src='/images/plaza.jpg', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') 100 comentarios
            label(class="title-card") La Triple Alianza y los señorios independientes
            p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
            .user-autor
              .perfil-img
                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
              p.col-xs-12.p-name Ararat Mendez
              p.col-xs-12.p-date 14/01/2017
      .card-container.col-md-4
        .card-rect.col-xs-12
          .header.col-xs-12
            label Chihuahua
            label.pull-right 11/05/1970
          .img-card
            a(href='#')

              img(src='/images/plaza.jpg', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') 100 comentarios
            label(class="title-card") La Triple Alianza y los señorios independientes
            p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
            .user-autor
              .perfil-img
                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
              p.col-xs-12.p-name Ararat Mendez
              p.col-xs-12.p-date 14/01/2017
      .card-container.col-md-4
        .card-rect.col-xs-12
          .header.col-xs-12
            label Chihuahua
            label.pull-right 11/05/1970
          .img-card
            a(href='#')

              img(src='/images/plaza.jpg', height='100%')
              div(class='ref-link')
                .black-link
                  img(src='/images/logo.png', width='100%')
                  p Ver mas
          .info-container
            .like-btn
              div(class="")
                i.fa.fa-heart(aria-hidden='true')
                p(class='p-likes') 100 likes
            .comment-btn
              div(class="")
                i.fa.fa-comment(aria-hidden='true')
                p(class='p-likes') 100 comentarios
            label(class="title-card") La Triple Alianza y los señorios independientes
            p(class="info-card") La triple alianza fueron formados por Tenochtitlan, Tlacopan y Texcoco. Formaron la útima confederación ubicados en el valle de México.
            .user-autor
              .perfil-img
                img(src='https://www.debate.com.mx/__export/1483142977600/sites/debate/img/2016/12/30/princess-leia.jpg_1810791533.jpg', height='100%', width='100%')
              p.col-xs-12.p-name Ararat Mendez
              p.col-xs-12.p-date 14/01/2017
