extends ../layout

block content
  h1 Yo soi publicaciones
  a(href='http://localhost:3000/publicaciones/fecha') Fecha
  br
  br
  a(href='http://localhost:3000/publicaciones/mapa') Mapa
  br
  br
  a(href=`/publicaciones/byEstado/${estado="durango"}`) Durango
