doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/lib/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
  body
    block content
    h1 Yo soi publicaciones
    a(href='http://localhost:3000/publicaciones/fecha') Fecha
    br
    br
    a(href='http://localhost:3000/publicaciones/mapa') Mapa
    br
    br
    a(href='http://localhost:3000/publicaciones/chihuahua') chihuahua
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')
