a:hover, a:focus {
  text-decoration: none !important; }

textarea:focus, input:focus, a:focus {
  outline: none !important; }

.d-initial {
  display: initial !important; }

.p-initial {
  position: initial !important; }

.m-0 {
  margin: 0 !important; }

.m-b-0 {
  margin-bottom: 0 !important; }

.p-0 {
  padding: 0 !important; }

.text-align-c {
  text-align: center; }

.text-align-r {
  text-align: right; }

.z-index-9 {
  z-index: 9; }

.m-b-50 {
  margin-bottom: 50px !important; }

.m-b-70 {
  margin-bottom: 70px !important; }

.p-l-25 {
  padding-left: 25px; }

.p-r-25 {
  padding-right: 25px; }

.p-t-35 {
  padding-top: 35px; }

.p-t-110 {
  padding-top: 110px !important; }

.m-t-15 {
  margin-top: 15px; }

.m-t-25 {
  margin-top: 25px !important; }

.m-t-30 {
  margin-top: 30px; }

.m-t-60 {
  margin-top: 60px; }

.m-l-8pct {
  margin-left: 8.3333333334% !important; }

@font-face {
  font-family: 'mayan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mayan.ttf") format("truetype"); }

@font-face {
  font-family: 'mexcellent';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mexcellent-rg.ttf") format("truetype"); }

.login-view .right-login .title, .login-view .right-login .subtitle, .home-page .title-class {
  font-family: mayan !important; }

@media (max-width: 1170px) and (min-width: 991px) {
  .right-login .subtitle {
    font-size: 24px !important; }
  .right-login .title {
    font-size: 100px !important; }
  .right-login .slogan {
    font-size: 23px !important;
    top: 0px !important; }
  .right-login .title-container {
    width: 426px !important; } }

@media (max-width: 991px) {
  .right-login {
    display: none; }
  .left-login {
    border-right: none !important;
    min-height: initial !important; }
  .responsive-img-cactus {
    margin-bottom: 30px; } }

@media (max-width: 1080px) and (min-width: 666px) {
  .article-container .text-container {
    padding: 0 100px !important; }
  .new-pub {
    padding: 0px 60px !important; } }

@media (max-width: 666px) {
  .article-container .text-container {
    padding: 0 15px !important; }
  .new-pub {
    padding: 0px 15px !important; }
    .new-pub .p-new {
      font-size: 17px !important; }
  .article-container .comment-title {
    font-size: 30px !important; }
  .article-container .comment-container {
    width: 100% !important; } }

@media (min-width: 1100px) {
  .home-page .title-class {
    font-size: 70px !important; } }

@media (max-width: 800px) {
  .mapa-interactivo .container-map {
    width: 100% !important; } }

@media (max-width: 460px) {
  .navbar-board .make-publication {
    opacity: 0;
    pointer-events: none;
    cursor: default; } }

@media (max-width: 768px) {
  .navbar-board .navbar-collapse {
    display: initial !important;
    position: absolute !important;
    top: -5px !important;
    right: 14px !important; }
  .navbar-board button.navbar-toggle {
    display: none !important; } }

@media (max-width: 527px) {
  .user-autor {
    position: relative !important;
    bottom: 0px !important;
    margin-top: 10px !important;
    padding-left: 0 !important;
    width: 100% !important; }
  .side-nav {
    width: 100% !important;
    height: 100%; }
  .empty-state-holder p {
    font-size: 17px !important; }
  .empty-state-holder a {
    font-size: 17px !important; }
  .empty-state-holder img {
    max-width: 159px !important; } }

@media (max-width: 700px) {
  .like-press {
    top: 224px !important; }
  .home-page .img-container, .home-page .black-cover {
    height: 250px !important; }
  .home-page .title-class {
    margin-top: 122px !important;
    padding: 0 25px !important;
    font-size: 34px !important; }
  .img-perfil-responsive, .black-cover {
    min-height: 480px !important; } }

@media (max-width: 600px) {
  .navbar-brand {
    top: 3px !important;
    left: -37px !important; } }

@media (max-width: 400px) {
  .login-view .left-login .img-container img {
    width: 100% !important; }
  .login-view {
    padding: 45px 20px !important; } }

.text-center {
  text-align: center; }

.login-view {
  background-image: url("../../images/login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 50px; }
  .login-view .dark-cover {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .login-view .left-login {
    min-height: 720px;
    border-right: 2px solid gray; }
    .login-view .left-login h1 {
      overflow: hidden;
      text-align: center;
      color: #D3D3D3;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 30px;
      text-transform: uppercase; }
    .login-view .left-login h1:before,
    .login-view .left-login h1:after {
      background-color: #D3D3D3;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%; }
    .login-view .left-login h1:before {
      right: 0.5em;
      margin-left: -50%; }
    .login-view .left-login h1:after {
      left: 0.5em;
      margin-right: -50%; }
    .login-view .left-login .img-container {
      text-align: center; }
      .login-view .left-login .img-container img {
        width: 275px; }
    .login-view .left-login .register-btn {
      text-align: center;
      height: 52px;
      display: flex;
      margin-bottom: 30px; }
      .login-view .left-login .register-btn a {
        margin: auto;
        width: 258px;
        font-weight: 500;
        font-family: arial;
        border-radius: 100px;
        font-size: 14px;
        padding: 14px 65px; }
      .login-view .left-login .register-btn .btn-blue {
        background: #216096;
        color: white; }
      .login-view .left-login .register-btn .btn-white {
        background: white;
        color: #505050; }
  .login-view .right-login {
    min-height: 720px; }
    .login-view .right-login .subtitle {
      color: white;
      width: 100%;
      position: relative;
      text-align: right;
      font-size: 34px;
      font-weight: 400;
      bottom: -19px; }
    .login-view .right-login .title {
      color: white;
      width: 100%;
      text-align: left;
      font-size: 130px;
      font-weight: 400;
      line-height: 1.1; }
    .login-view .right-login .slogan {
      color: white;
      width: 100%;
      text-align: left;
      font-size: 34px;
      font-weight: 300;
      position: relative;
      top: -13px;
      line-height: 1.1; }
    .login-view .right-login .title-container {
      margin-top: 145px !important;
      width: 555px;
      margin: auto; }

#background-video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 44%;
  left: 50%;
  min-width: 100%;
  min-height: 115%;
  width: auto;
  height: auto;
  z-index: 0; }

.register-modal .modal-title, .login-modal .modal-title {
  text-align: center;
  font-size: 32px;
  color: #216096; }

.register-modal .modal-body, .login-modal .modal-body {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px; }

.register-modal img, .login-modal img {
  width: 100%;
  text-align: center;
  margin: auto; }

.register-modal .btn, .login-modal .btn {
  background: #216096; }

.register-modal .btn:hover, .login-modal .btn:hover {
  color: white !important; }

.register-modal .social-register, .login-modal .social-register {
  color: #216096;
  font-size: 15px;
  font-family: arial;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px; }

.navbar-board {
  border: none !important; }
  .navbar-board .container-nav {
    min-height: 64px;
    max-height: 64px;
    padding: 0 35px;
    width: 100%;
    background: #2d4250; }
  .navbar-board .notifications-badge {
    background: red;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    position: absolute;
    top: 17px;
    right: 11px; }
    .navbar-board .notifications-badge p {
      color: white;
      font-size: 9px;
      text-align: center;
      position: absolute;
      width: 15px;
      top: -2px; }
  .navbar-board .notifications {
    height: 64px; }
    .navbar-board .notifications li {
      width: 100%; }
    .navbar-board .notifications .dropdown-toggle {
      background: transparent !important; }
    .navbar-board .notifications .name {
      font-size: 13px;
      font-weight: 500;
      margin: 0; }
    .navbar-board .notifications .action-noti {
      font-size: 13px;
      font-weight: 400; }
  .navbar-board .navbar-brand {
    top: -4px;
    left: -37px; }
  .navbar-board .dropdown-menu {
    margin-top: -9px !important; }
  .navbar-board .fa-home {
    font-size: 30px;
    color: white; }
  .navbar-board .fa-bell {
    padding-top: 4px;
    font-size: 25px;
    color: white; }
  .navbar-board .make-publication {
    color: white !important;
    font-size: 15px;
    border: 1px solid;
    border-radius: 100px;
    padding: 6px 19px;
    margin-top: 13px;
    margin-right: 15px; }
  .navbar-board #hamburguer {
    cursor: pointer;
    position: relative;
    top: 0px; }
    .navbar-board #hamburguer path {
      -webkit-transform: translate3d(0, 0, 0);
      fill: transparent;
      stroke-width: 2px;
      stroke: white;
      stroke-linecap: round;
      -webkit-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -moz-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -ms-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -o-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      transition: all 500ms cubic-bezier(0.2, 0, 0, 1); }
    .navbar-board #hamburguer:hover .line-top {
      -ms-transform: translateY(-4x);
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px); }
    .navbar-board #hamburguer:hover .line-bottom {
      -ms-transform: translateY(4px);
      -webkit-transform: translateY(4px);
      transform: translateY(4px); }
    .navbar-board #hamburguer.active .line-center {
      -moz-transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
      -o-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      transform: translateX(-50px); }
    .navbar-board #hamburguer.active .line-top {
      -moz-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -webkit-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -o-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -ms-transform: rotate(45deg) translateX(6px) translateY(-9px);
      transform: rotate(45deg) translateX(6px) translateY(-9px); }
    .navbar-board #hamburguer.active .line-bottom {
      -moz-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -webkit-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -o-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -ms-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      transform: rotate(-45deg) translateX(-15px) translateY(0px); }

.home-page {
  padding: 0px; }
  .home-page .img-container {
    height: 370px;
    overflow: hidden;
    position: relative; }
  .home-page .img-header {
    position: relative;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .home-page .black-cover {
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; }
  .home-page .title-class {
    padding: 0 15px;
    margin-top: 170px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box; }
  .home-page .cards {
    padding-bottom: 30px; }
    .home-page .cards .like-btn, .home-page .cards .comment-btn, .home-page .cards .edit-btn, .home-page .cards .delete-btn {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      height: 30px;
      position: absolute;
      right: -15px;
      padding-top: 5px;
      padding-left: 1px;
      width: 30px;
      bottom: 55px;
      background: white;
      overflow: hidden;
      border-radius: 50px;
      text-align: center;
      border: solid 1px #EC407A;
      transition: 1s; }
      .home-page .cards .like-btn .p-likes, .home-page .cards .comment-btn .p-likes, .home-page .cards .edit-btn .p-likes, .home-page .cards .delete-btn .p-likes {
        opacity: 0;
        min-width: 70px;
        position: absolute;
        display: initial;
        color: #EC407A;
        padding-left: 7px;
        text-align: center;
        cursor: default; }
      .home-page .cards .like-btn i, .home-page .cards .comment-btn i, .home-page .cards .edit-btn i, .home-page .cards .delete-btn i {
        transition: 1s;
        color: #EC407A; }
    .home-page .cards .like-btn:hover {
      width: 116px !important;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .like-btn:hover .p-likes {
        opacity: 1 !important; }
      .home-page .cards .like-btn:hover i {
        transition: 1s;
        color: #EC407A; }
    .home-page .cards .comment-btn {
      z-index: 4;
      bottom: 17px !important;
      border: solid 1px #64B5F6;
      padding-top: 3px !important; }
      .home-page .cards .comment-btn .p-likes {
        color: #64B5F6;
        min-width: 126px !important;
        cursor: default; }
      .home-page .cards .comment-btn i {
        transition: 1s;
        color: #64B5F6; }
    .home-page .cards .comment-btn:hover {
      width: 163px !important;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .comment-btn:hover .p-likes {
        opacity: 1 !important; }
      .home-page .cards .comment-btn:hover i {
        transition: 1s;
        color: #64B5F6; }
    .home-page .cards .edit-btn {
      cursor: pointer;
      z-index: 4;
      bottom: 55px !important;
      border: solid 1px #FBC02D;
      padding-top: 3px !important; }
      .home-page .cards .edit-btn .p-likes {
        color: #FBC02D;
        min-width: 58px !important;
        cursor: default; }
      .home-page .cards .edit-btn i {
        transition: 1s;
        color: #FBC02D; }
    .home-page .cards .edit-btn:hover {
      width: 100px !important;
      cursor: pointer;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .edit-btn:hover .p-likes {
        opacity: 1 !important;
        cursor: pointer; }
      .home-page .cards .edit-btn:hover i {
        transition: 1s;
        color: #FBC02D; }
    .home-page .cards .delete-btn {
      cursor: pointer;
      z-index: 4;
      bottom: 17px !important;
      border: solid 1px #C62828;
      cursor: pointer;
      padding-top: 3px !important; }
      .home-page .cards .delete-btn .p-likes {
        color: #C62828;
        min-width: 58px !important;
        cursor: pointer; }
      .home-page .cards .delete-btn i {
        transition: 1s;
        color: #C62828; }
    .home-page .cards .delete-btn:hover {
      width: 100px !important;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .delete-btn:hover .p-likes {
        opacity: 1 !important; }
      .home-page .cards .delete-btn:hover i {
        transition: 1s;
        color: #C62828; }
    .home-page .cards .card-container {
      margin-top: 30px;
      background: white;
      border-radius: 5px;
      height: 250px; }
    .home-page .cards .card-rect {
      height: 100%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
    .home-page .cards .header {
      height: 30px;
      background: #216096;
      border-radius: 5px 5px 0px 0px; }
    .home-page .cards .img-card {
      overflow: hidden;
      position: absolute;
      z-index: 0;
      padding-top: 30px;
      height: 100%;
      width: 140px; }
      .home-page .cards .img-card img {
        border-radius: 0px 0px 0px 5px; }
      .home-page .cards .img-card .ref-link {
        opacity: 0;
        transition: .5s; }
      .home-page .cards .img-card .black-link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 30px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6); }
        .home-page .cards .img-card .black-link img {
          position: absolute; }
        .home-page .cards .img-card .black-link p {
          color: white;
          font-size: 20px;
          text-align: center;
          margin-top: 169px; }
    .home-page .cards .card-rect:hover .ref-link {
      opacity: 1 !important;
      transition: .5s; }
    .home-page .cards .info-container {
      padding-left: 155px;
      color: #333; }
    .home-page .cards .title-card {
      color: rgba(0, 0, 0, 0.7) !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      padding-top: 20px;
      font-size: 19px;
      padding-right: 15px;
      font-weight: 500; }
    .home-page .cards .header {
      color: white;
      padding-top: 5px; }
      .home-page .cards .header label {
        font-weight: 400;
        color: white !important; }
      .home-page .cards .header .pull-right {
        padding-top: 4px; }
    .home-page .cards .user-autor {
      width: calc(100% - 170px);
      position: absolute;
      bottom: 12px;
      cursor: default;
      margin-top: 10px;
      padding-left: 0; }
    .home-page .cards .perfil-img {
      width: 43px;
      height: 43px;
      border-radius: 50%; }
      .home-page .cards .perfil-img img {
        border-radius: 50%; }
    .home-page .cards .info-card {
      margin-top: 12px;
      cursor: default;
      padding-right: 15px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .home-page .cards .card-rect {
      padding: 0px; }
    .home-page .cards .p-name {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      position: absolute;
      top: 6px;
      left: 38px;
      font-size: 13px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      width: auto; }
    .home-page .cards .p-date {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      position: absolute;
      top: 21px;
      left: 38px;
      font-size: 11px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      width: 90%; }

.side-nav {
  display: none;
  margin-top: 64px !important;
  padding-bottom: 130px; }
  .side-nav .circle {
    box-shadow: 0 0 0 5px white; }
  .side-nav .name-sidenav {
    text-align: center;
    padding-top: 17px !important;
    margin-bottom: 25px; }
    .side-nav .name-sidenav .name {
      font-size: 26px !important; }
  .side-nav .sidenav-link {
    margin: 18px 0px; }
    .side-nav .sidenav-link a {
      font-size: 18px;
      color: #9e9e9e;
      font-weight: 400; }
    .side-nav .sidenav-link i {
      color: #216096;
      font-size: 22px; }
    .side-nav .sidenav-link a:hover {
      background: transparent !important;
      color: #216096 !important; }
  .side-nav .perfil-boton {
    border: solid 1px;
    border-radius: 50px;
    width: 165px;
    text-align: center;
    /* margin-top: 24px; */
    margin: auto;
    padding-top: 6px; }
    .side-nav .perfil-boton .button-perfil {
      padding: 0 !important;
      font-size: 20px;
      font-weight: 400; }
  .side-nav .perfil-boton:hover {
    background: white !important; }
    .side-nav .perfil-boton:hover span {
      color: #216096 !important; }
  .side-nav .perfil-boton:hover, .side-nav .perfil-boton:focus {
    color: white !important; }
  .side-nav .black-capa {
    background-image: linear-gradient(to bottom, #dc4179, #2d4250);
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .6; }

.drag-target {
  width: 100% !important;
  display: none;
  pointer-events: none;
  cursor: default; }

.hiddendiv {
  pointer-events: none;
  cursor: default; }

#sidenav-overlay {
  pointer-events: none;
  cursor: default; }

.mapa-interactivo use:hover {
  fill: #216096;
  cursor: pointer;
  transition: .5s; }

.mapa-interactivo use {
  stroke: #216096;
  fill: #e5e5e5;
  transition: .5s; }

.mapa-interactivo .container-map {
  width: 933px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 6px;
  box-shadow: inset 0px 7px #216096, 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.mapa-interactivo .p-mapa {
  font-size: 25px;
  margin-top: 50px;
  color: #505050; }

.empty-state-holder {
  margin-bottom: 40px; }
  .empty-state-holder p {
    font-size: 24px;
    color: #505060;
    margin-bottom: 0px !important;
    padding: 0 15px; }
  .empty-state-holder a {
    margin: 0 8px;
    font-size: 24px; }
  .empty-state-holder img {
    max-width: 259px;
    margin-top: 48px;
    margin-bottom: 35px; }

.article-container {
  text-align: justify;
  text-justify: inter-word; }
  .article-container .label-article {
    text-align: center;
    width: 100%;
    color: #505050;
    margin-top: 51px;
    font-size: 20px; }
  .article-container .text-container {
    color: #505050;
    font-size: 19px;
    margin-top: 30px;
    padding: 0 50px; }
  .article-container .comment-title {
    color: #216096;
    font-size: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-family: mayan; }
  .article-container .material-placeholder {
    height: 100%; }
  .article-container .carousel-cont {
    margin-bottom: 70px;
    padding-bottom: 0px; }
  .article-container .carousel-item {
    margin-top: 30px;
    margin-bottom: 50px;
    overflow: hidden;
    width: 400px;
    height: 400px; }
    .article-container .carousel-item img {
      height: 100%;
      width: initial !important; }
  .article-container .comment {
    box-shadow: 0 1px #e5e5e5;
    padding-bottom: 20px;
    margin-bottom: 20px; }
  .article-container .comment-container {
    width: 80%;
    margin: auto; }
    .article-container .comment-container .input-field {
      margin-top: 60px; }
      .article-container .comment-container .input-field label {
        padding-left: 10px; }
    .article-container .comment-container .name {
      color: #216096;
      margin-bottom: 0px;
      font-size: 18px;
      font-weight: 500; }
    .article-container .comment-container .content {
      font-size: 15px;
      color: #505050; }

.container-404 {
  font-family: 'Varela Round', sans-serif;
  color: #9b9b9b;
  position: relative;
  height: 100vh;
  text-align: center;
  font-size: 16px; }

@keyframes floating {
  0% {
    transform: translate3d(0, 0, 0); }
  45% {
    transform: translate3d(0, -10%, 0); }
  55% {
    transform: translate3d(0, -10%, 0); }
  100% {
    transform: translate3d(0, 0, 0); } }

@keyframes floatingShadow {
  0% {
    transform: scale(1); }
  45% {
    transform: scale(0.85); }
  55% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }
  .container-404 body {
    background-color: white; }
  .container-404 h1 {
    font-size: 32px;
    margin-top: 32px; }
  .container-404 .boo-wrapper {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    paddig-top: 64px;
    paddig-bottom: 64px; }
  .container-404 .boo {
    width: 160px;
    height: 184px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 3.39394px solid #9b9b9b;
    border-bottom: 0;
    overflow: hidden;
    border-radius: 80px 80px 0 0;
    box-shadow: -16px 0 0 2px rgba(242, 242, 242, 0.5) inset;
    position: relative;
    padding-bottom: 32px;
    animation: floating 3s ease-in-out infinite; }
    .container-404 .boo::after {
      content: '';
      display: block;
      position: absolute;
      left: -18.82353px;
      bottom: -8.31169px;
      width: calc(100% + 32px);
      height: 32px;
      background-repeat: repeat-x;
      background-size: 32px 32px;
      background-position: left bottom;
      background-image: linear-gradient(-45deg, white 16px, transparent 0), linear-gradient(45deg, white 16px, transparent 0), linear-gradient(-45deg, #9b9b9b 18.82353px, transparent 0), linear-gradient(45deg, #9b9b9b 18.82353px, transparent 0); }
    .container-404 .boo .face {
      width: 24px;
      height: 3.2px;
      border-radius: 5px;
      background-color: #9b9b9b;
      position: absolute;
      left: 50%;
      bottom: 56px;
      transform: translateX(-50%); }
      .container-404 .boo .face::before, .container-404 .boo .face::after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        background-color: #9b9b9b;
        border-radius: 50%;
        position: absolute;
        bottom: 40px; }
      .container-404 .boo .face::before {
        left: -24px; }
      .container-404 .boo .face::after {
        right: -24px; }
  .container-404 .shadow {
    width: 128px;
    height: 16px;
    background-color: rgba(242, 242, 242, 0.75);
    margin-top: 40px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    animation: floatingShadow 3s ease-in-out infinite; }

.like-press {
  transition: .5s;
  position: absolute;
  top: 342px;
  z-index: 1;
  color: #EC407A;
  background: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 24px;
  text-align: center;
  padding-top: 7px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border: 2px solid;
  right: 50px;
  cursor: pointer; }

.like-press:hover {
  transition: .5s;
  color: white;
  background: #EC407A;
  border: 2px solid #EC407A; }

.like-press-click {
  color: white !important;
  background: #EC407A !important;
  border: 2px solid #EC407A !important;
  pointer-events: none;
  cursor: default; }

.user-publication {
  padding-top: 60px; }
  .user-publication .circle {
    height: 150px;
    margin: auto;
    width: 150px;
    border: 4px solid white;
    box-shadow: 0 0 0 5px #216096; }
  .user-publication .name-autor {
    font-size: 25px;
    color: #505050; }
  .user-publication .name-date {
    font-size: 15px;
    color: #505050; }

.new-pub {
  color: #505050;
  font-size: 27px;
  padding: 0 150px;
  margin-top: 50px;
  margin-bottom: 51px; }
  .new-pub .p-new {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px; }
  .new-pub .label-act {
    font-size: 22px;
    width: 100%;
    position: relative !important;
    top: 23px; }
  .new-pub .description-p {
    font-size: 18px;
    text-align: left;
    color: #9e9e9e;
    margin-bottom: 25px; }
  .new-pub .l-style {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    color: #505050; }

.name-class-perfil {
  margin-top: 155px;
  font-size: 50px;
  width: 100%;
  text-align: center;
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  font-family: mayan; }

.img-perfil-container {
  margin-top: 45px; }

.transform-text {
  text-transform: uppercase; }

.navbar-board .dropdown-menu {
  width: 301px;
  padding-top: 0; }

.navbar-board .dropdown-header {
  text-align: center;
  font-size: 21px;
  background: #216096;
  color: white;
  padding: 13px 20px; }

.navbar-board .name {
  font-size: 17px;
  font-weight: 400;
  color: #216096;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; }

.navbar-board .action-noti {
  color: #505050;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; }

.navbar-board .dropdown-menu > li > a {
  padding-top: 15px; }

.navbar-board .see-more p {
  text-align: center;
  color: #216096;
  font-weight: 500; }

.navbar-board .see-more a:hover {
  background: transparent !important; }

.navbar-board .see-more:hover {
  background: transparent !important; }

.notifications .label-act {
  pointer-events: initial !important; }
  .notifications .label-act a {
    color: #216096;
    margin-left: 6px; }

.notifications .input-field p {
  text-align: left;
  font-size: 14px; }

.w-145px {
  width: 145px; }

.m-t-40 {
  margin-top: 40px; }

.m-b-40 {
  margin-bottom: 40px; }

.btn-delete-modal {
  position: absolute;
  right: 20px;
  top: 20px;
  background: white; }

.font-delete-modal {
  font-size: 20px;
  color: gray; }

.color-white {
  color: white; }

.modal {
  text-align: center; }

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%; } }

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.max-w-40 {
  max-width: 40px !important; }

.max-w-230 {
  max-width: 230px; }

.max-w-260 {
  max-width: 260px; }

.p-t-30 {
  padding-top: 30px !important; }

.alert {
  z-index: 9999999;
  position: absolute;
  width: 100%; }

@media (max-width: 767px) and (min-width: 459px) {
  li.open .dropdown-toggle {
    display: inline-block;
    float: right; }
  .dropdown-menu {
    background-color: white !important;
    /* width: 100%; */
    /* position: absolute; */
    float: left !important;
    box-shadow: 0 0 4px 0px gray !important; }
  .make-publication {
    opacity: 0;
    pointer-events: none;
    cursor: default; } }

@media (max-width: 759px) {
  .open {
    width: 56px;
    position: relative; }
  .dropdown-menu {
    width: 100% !important;
    background: white !important;
    float: inherit !important;
    background-color: white !important;
    box-shadow: 0 0 3px grey !important;
    margin-left: 6px !important;
    position: absolute !important;
    left: -245px !important;
    width: 301px !important; } }

.select-wrapper .caret {
  opacity: 0; }

.select-wrapper li {
  min-height: 25px !important; }

.select-wrapper .dropdown-content li > a, .select-wrapper .dropdown-content li > span {
  color: #216096 !important;
  padding: 7px 16px !important;
  font-size: 12px !important; }

.select-wrapper .select-dropdown {
  max-height: 300px; }

.icon-go-top {
  font-size: 42px !important;
  position: relative;
  top: -3px;
  background-color: #2d4250 !important; }

.bgm-blue {
  background-color: #2d4250 !important; }

.chat-style {
  overflow: auto;
  height: 100%;
  padding-bottom: 30px;
  font-family: "Helvetica Neue";
  font-size: 14px;
  font-weight: normal; }
  .chat-style section {
    max-width: 90%;
    margin: 50px auto; }
    .chat-style section .msg-cont {
      max-width: 355px;
      word-wrap: break-word;
      margin-bottom: 12px;
      line-height: 24px; }
      .chat-style section .msg-cont:after {
        content: "";
        display: table;
        clear: both; }
  .chat-style .clear {
    clear: both; }
  .chat-style .from-me {
    position: relative;
    padding: 10px 20px;
    color: white;
    background: #0B93F6;
    border-radius: 25px;
    float: right; }
  .chat-style .from-them {
    position: relative;
    padding: 10px 20px;
    background: #E5E5EA;
    border-radius: 25px;
    color: black;
    float: left; }

.bg-chat {
  height: 100vh;
  width: 100%;
  background-image: url(http://data.freehdw.com/church-in-mexico.jpg);
  background-size: cover; }

.msg-box-container {
  margin-top: 50px;
  width: 90%;
  height: 90%;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  margin: auto;
  border-radius: 10px; }
  .msg-box-container .msg-text p {
    margin-bottom: 0px; }

.msg-send {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  border-radius: 0 0 10px 10px; }
  .msg-send input {
    width: calc(100% - 117px) !important;
    margin-left: 30px !important; }
  .msg-send button {
    position: absolute;
    right: 20px;
    top: 13px;
    border-radius: 50% !important;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    padding: 0px !important; }
