a:hover, a:focus {
  text-decoration: none !important; }

textarea:focus, input:focus, a:focus {
  outline: none; }

.d-initial {
  display: initial !important; }

.m-0 {
  margin: 0 !important; }

.text-align-c {
  text-align: center; }

@font-face {
  font-family: 'mayan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mayan.ttf") format("truetype"); }

@font-face {
  font-family: 'mexcellent';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/mexcellent-rg.ttf") format("truetype"); }

.login-view .right-login .title, .login-view .right-login .subtitle, .home-page .title-class {
  font-family: mayan !important; }

@media (max-width: 1170px) and (min-width: 991px) {
  .right-login .subtitle {
    font-size: 24px !important; }
  .right-login .title {
    font-size: 100px !important; }
  .right-login .slogan {
    font-size: 23px !important;
    top: 0px !important; }
  .right-login .title-container {
    width: 426px !important; } }

@media (max-width: 991px) {
  .right-login {
    display: none; }
  .left-login {
    border-right: none !important;
    min-height: initial !important; } }

@media (min-width: 1100px) {
  .home-page .title-class {
    font-size: 70px !important; } }

@media (max-width: 800px) {
  .mapa-interactivo .container-map {
    width: 100% !important; } }

@media (max-width: 460px) {
  .navbar-board .make-publication {
    display: none !important; } }

@media (max-width: 768px) {
  .navbar-board .navbar-collapse {
    display: initial !important;
    position: absolute !important;
    top: -5px !important;
    right: 14px !important; }
  .navbar-board button.navbar-toggle {
    display: none !important; } }

@media (max-width: 527px) {
  .user-autor {
    position: relative !important;
    bottom: 0px !important;
    margin-top: 10px !important;
    padding-left: 0 !important;
    width: 100% !important; }
  .side-nav {
    width: 100% !important;
    height: 100%; }
  .empty-state-holder p {
    font-size: 17px !important; }
  .empty-state-holder a {
    font-size: 17px !important; }
  .empty-state-holder img {
    max-width: 159px !important; } }

@media (max-width: 700px) {
  .home-page .img-container, .home-page .black-cover {
    height: 250px !important; }
  .home-page .title-class {
    margin-top: 122px !important;
    padding: 0 25px !important;
    font-size: 34px !important; } }

@media (max-width: 600px) {
  .navbar-brand {
    top: 3px !important;
    left: -37px !important; } }

@media (max-width: 400px) {
  .login-view .left-login .img-container img {
    width: 100% !important; }
  .login-view {
    padding: 45px 20px !important; } }

.text-center {
  text-align: center; }

.login-view {
  background-image: url("../../images/login.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 80px 50px; }
  .login-view .dark-cover {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); }
  .login-view .left-login {
    min-height: 720px;
    border-right: 2px solid gray; }
    .login-view .left-login h1 {
      overflow: hidden;
      text-align: center;
      color: #D3D3D3;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 30px;
      text-transform: uppercase; }
    .login-view .left-login h1:before,
    .login-view .left-login h1:after {
      background-color: #D3D3D3;
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%; }
    .login-view .left-login h1:before {
      right: 0.5em;
      margin-left: -50%; }
    .login-view .left-login h1:after {
      left: 0.5em;
      margin-right: -50%; }
    .login-view .left-login .img-container {
      text-align: center; }
      .login-view .left-login .img-container img {
        width: 275px; }
    .login-view .left-login .register-btn {
      text-align: center;
      height: 52px;
      display: flex;
      margin-bottom: 30px; }
      .login-view .left-login .register-btn a {
        margin: auto;
        width: 258px;
        font-weight: 500;
        font-family: arial;
        border-radius: 100px;
        font-size: 18px;
        padding: 14px 65px; }
      .login-view .left-login .register-btn .btn-blue {
        background: #216096;
        color: white; }
      .login-view .left-login .register-btn .btn-white {
        background: white;
        color: #505050; }
  .login-view .right-login {
    min-height: 720px; }
    .login-view .right-login .subtitle {
      color: white;
      width: 100%;
      position: relative;
      text-align: right;
      font-size: 34px;
      font-weight: 400;
      bottom: -19px; }
    .login-view .right-login .title {
      color: white;
      width: 100%;
      text-align: left;
      font-size: 130px;
      font-weight: 400;
      line-height: 1.1; }
    .login-view .right-login .slogan {
      color: white;
      width: 100%;
      text-align: left;
      font-size: 34px;
      font-weight: 300;
      position: relative;
      top: -13px;
      line-height: 1.1; }
    .login-view .right-login .title-container {
      margin-top: 145px !important;
      width: 555px;
      margin: auto; }

#background-video {
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  top: 44%;
  left: 50%;
  min-width: 100%;
  min-height: 115%;
  width: auto;
  height: auto;
  z-index: 0; }

.register-modal .modal-title, .login-modal .modal-title {
  text-align: center;
  font-size: 32px;
  color: #216096; }

.register-modal .modal-body, .login-modal .modal-body {
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px; }

.register-modal img, .login-modal img {
  width: 100%;
  text-align: center;
  margin: auto; }

.register-modal .btn, .login-modal .btn {
  background: #216096; }

.register-modal .btn:hover, .login-modal .btn:hover {
  color: white !important; }

.register-modal .social-register, .login-modal .social-register {
  color: #216096;
  font-size: 15px;
  font-family: arial;
  text-align: center;
  font-weight: 600;
  margin-bottom: 25px; }

.navbar-board {
  border: none !important; }
  .navbar-board .container-nav {
    min-height: 64px;
    max-height: 64px;
    padding: 0 35px;
    width: 100%;
    background: #2d4250; }
  .navbar-board .notifications-badge {
    background: red;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    position: absolute;
    top: 17px;
    right: 11px; }
    .navbar-board .notifications-badge p {
      color: white;
      font-size: 9px;
      text-align: center;
      position: absolute;
      width: 15px;
      top: -2px; }
  .navbar-board .notifications {
    height: 64px; }
    .navbar-board .notifications li {
      width: 100%; }
    .navbar-board .notifications .dropdown-toggle {
      background: transparent !important; }
    .navbar-board .notifications .name {
      font-size: 13px;
      font-weight: 500;
      margin: 0; }
    .navbar-board .notifications .action-noti {
      font-size: 13px;
      font-weight: 400; }
  .navbar-board .navbar-brand {
    top: -4px;
    left: -37px; }
  .navbar-board .dropdown-menu {
    margin-top: -9px !important; }
  .navbar-board .fa-home {
    font-size: 30px;
    color: white; }
  .navbar-board .fa-bell {
    padding-top: 4px;
    font-size: 25px;
    color: white; }
  .navbar-board .make-publication {
    color: white !important;
    font-size: 15px;
    border: 1px solid;
    border-radius: 100px;
    padding: 6px 19px;
    margin-top: 13px;
    margin-right: 15px; }
  .navbar-board #hamburguer {
    cursor: pointer;
    position: relative;
    top: 0px; }
    .navbar-board #hamburguer path {
      -webkit-transform: translate3d(0, 0, 0);
      fill: transparent;
      stroke-width: 2px;
      stroke: white;
      stroke-linecap: round;
      -webkit-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -moz-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -ms-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      -o-transition: all 500ms cubic-bezier(0.2, 0, 0, 1);
      transition: all 500ms cubic-bezier(0.2, 0, 0, 1); }
    .navbar-board #hamburguer:hover .line-top {
      -ms-transform: translateY(-4x);
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px); }
    .navbar-board #hamburguer:hover .line-bottom {
      -ms-transform: translateY(4px);
      -webkit-transform: translateY(4px);
      transform: translateY(4px); }
    .navbar-board #hamburguer.active .line-center {
      -moz-transform: translateX(-50px);
      -webkit-transform: translateX(-50px);
      -o-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
      transform: translateX(-50px); }
    .navbar-board #hamburguer.active .line-top {
      -moz-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -webkit-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -o-transform: rotate(45deg) translateX(6px) translateY(-9px);
      -ms-transform: rotate(45deg) translateX(6px) translateY(-9px);
      transform: rotate(45deg) translateX(6px) translateY(-9px); }
    .navbar-board #hamburguer.active .line-bottom {
      -moz-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -webkit-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -o-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      -ms-transform: rotate(-45deg) translateX(-15px) translateY(0px);
      transform: rotate(-45deg) translateX(-15px) translateY(0px); }

.home-page {
  padding: 0px; }
  .home-page .img-container {
    height: 500px;
    overflow: hidden; }
  .home-page .img-header {
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  .home-page .black-cover {
    height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0; }
  .home-page .title-class {
    margin-top: 220px;
    font-size: 50px;
    width: 100%;
    text-align: center;
    color: white; }
  .home-page .cards {
    padding-bottom: 30px; }
    .home-page .cards .like-btn, .home-page .cards .comment-btn {
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      height: 30px;
      position: absolute;
      right: -15px;
      padding-top: 5px;
      padding-left: 1px;
      width: 30px;
      bottom: 55px;
      background: white;
      overflow: hidden;
      border-radius: 50px;
      text-align: center;
      border: solid 1px #EC407A;
      transition: 1s; }
      .home-page .cards .like-btn .p-likes, .home-page .cards .comment-btn .p-likes {
        opacity: 0;
        min-width: 70px;
        position: absolute;
        display: initial;
        color: #EC407A;
        padding-left: 7px;
        text-align: center;
        cursor: default; }
      .home-page .cards .like-btn i, .home-page .cards .comment-btn i {
        transition: 1s;
        color: #EC407A; }
    .home-page .cards .like-btn:hover {
      width: 116px !important;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .like-btn:hover .p-likes {
        opacity: 1 !important; }
      .home-page .cards .like-btn:hover i {
        transition: 1s;
        color: #EC407A; }
    .home-page .cards .comment-btn {
      z-index: 4;
      bottom: 17px !important;
      border: solid 1px #64B5F6;
      padding-top: 3px !important; }
      .home-page .cards .comment-btn .p-likes {
        color: #64B5F6;
        min-width: 126px !important;
        cursor: default; }
      .home-page .cards .comment-btn i {
        transition: 1s;
        color: #64B5F6; }
    .home-page .cards .comment-btn:hover {
      width: 163px !important;
      text-align: left !important;
      padding-left: 14px !important;
      transition: 1s !important; }
      .home-page .cards .comment-btn:hover .p-likes {
        opacity: 1 !important; }
      .home-page .cards .comment-btn:hover i {
        transition: 1s;
        color: #64B5F6; }
    .home-page .cards .card-container {
      margin-top: 30px;
      background: white;
      border-radius: 5px;
      height: 250px; }
    .home-page .cards .card-rect {
      height: 100%;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
      border-radius: 5px; }
    .home-page .cards .header {
      height: 30px;
      background: #216096;
      border-radius: 5px 5px 0px 0px; }
    .home-page .cards .img-card {
      overflow: hidden;
      position: absolute;
      z-index: 0;
      padding-top: 30px;
      height: 100%;
      width: 140px; }
      .home-page .cards .img-card img {
        border-radius: 0px 0px 0px 5px; }
      .home-page .cards .img-card .ref-link {
        opacity: 0;
        transition: .5s; }
      .home-page .cards .img-card .black-link {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 30px;
        z-index: 1;
        background: rgba(0, 0, 0, 0.6); }
        .home-page .cards .img-card .black-link img {
          position: absolute; }
        .home-page .cards .img-card .black-link p {
          color: white;
          font-size: 20px;
          text-align: center;
          margin-top: 169px; }
    .home-page .cards .card-rect:hover .ref-link {
      opacity: 1 !important;
      transition: .5s; }
    .home-page .cards .info-container {
      padding-left: 155px;
      color: #333; }
    .home-page .cards .title-card {
      color: rgba(0, 0, 0, 0.7) !important;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      padding-top: 20px;
      font-size: 19px;
      padding-right: 15px;
      font-weight: 500; }
    .home-page .cards .header {
      color: white;
      padding-top: 5px; }
      .home-page .cards .header label {
        font-weight: 400;
        color: white !important; }
      .home-page .cards .header .pull-right {
        padding-top: 4px; }
    .home-page .cards .user-autor {
      width: calc(100% - 170px);
      position: absolute;
      bottom: 12px;
      cursor: default;
      margin-top: 10px;
      padding-left: 0; }
    .home-page .cards .perfil-img {
      width: 43px;
      height: 43px;
      border-radius: 50%; }
      .home-page .cards .perfil-img img {
        border-radius: 50%; }
    .home-page .cards .info-card {
      margin-top: 12px;
      cursor: default;
      padding-right: 15px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box; }
    .home-page .cards .card-rect {
      padding: 0px; }
    .home-page .cards .p-name {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      position: absolute;
      top: 6px;
      left: 38px;
      font-size: 13px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      width: auto; }
    .home-page .cards .p-date {
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      position: absolute;
      top: 21px;
      left: 38px;
      font-size: 11px;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.5);
      width: 90%; }

.side-nav {
  display: none;
  margin-top: 64px !important; }
  .side-nav .circle {
    box-shadow: 0 0 0 5px white; }
  .side-nav .name-sidenav {
    text-align: center;
    padding-top: 17px !important;
    margin-bottom: 25px; }
    .side-nav .name-sidenav .name {
      font-size: 26px !important; }
  .side-nav .sidenav-link {
    margin: 18px 0px; }
    .side-nav .sidenav-link a {
      font-size: 18px;
      color: #9e9e9e;
      font-weight: 400; }
    .side-nav .sidenav-link i {
      color: #216096;
      font-size: 22px; }
    .side-nav .sidenav-link a:hover {
      background: transparent !important;
      color: #216096 !important; }
  .side-nav .perfil-boton {
    border: solid 1px;
    border-radius: 50px;
    width: 165px;
    text-align: center;
    /* margin-top: 24px; */
    margin: auto;
    padding-top: 6px; }
    .side-nav .perfil-boton .button-perfil {
      padding: 0 !important;
      font-size: 20px;
      font-weight: 400; }
  .side-nav .perfil-boton:hover {
    background: white !important; }
    .side-nav .perfil-boton:hover span {
      color: #216096 !important; }
  .side-nav .perfil-boton:hover, .side-nav .perfil-boton:focus {
    color: white !important; }
  .side-nav .black-capa {
    background-image: linear-gradient(to bottom, #dc4179, #2d4250);
    width: 100%;
    height: 350px;
    position: absolute;
    top: 0;
    z-index: -1;
    opacity: .6; }

.drag-target {
  width: 100% !important;
  display: none;
  pointer-events: none;
  cursor: default; }

.hiddendiv {
  pointer-events: none;
  cursor: default; }

#sidenav-overlay {
  pointer-events: none;
  cursor: default; }

.mapa-interactivo use:hover {
  fill: #216096;
  cursor: pointer;
  transition: .5s; }

.mapa-interactivo use {
  stroke: #216096;
  fill: #e5e5e5;
  transition: .5s; }

.mapa-interactivo .container-map {
  width: 933px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 40px;
  border-radius: 6px;
  box-shadow: inset 0px 7px #216096, 0 2px 4px 0 rgba(0, 0, 0, 0.1); }

.mapa-interactivo .p-mapa {
  font-size: 25px;
  margin-top: 50px;
  color: #505050; }

.empty-state-holder {
  margin-bottom: 40px; }
  .empty-state-holder p {
    font-size: 24px;
    color: #505060;
    margin-bottom: 0px !important;
    padding: 0 15px; }
  .empty-state-holder a {
    margin: 0 8px;
    font-size: 24px; }
  .empty-state-holder img {
    max-width: 259px;
    margin-top: 48px;
    margin-bottom: 35px; }
