extends ../layout

block content

  .home-page.col-xs-12
    .img-container
      //img(src='/images/plaza.jpg', alt='Smiley face', height='100%', width='100%')
      .img-header
      .black-cover
        p(class="title-class") CREA UNA PUBLICACIÓN
    .col-xs-12.text-align-c.new-pub
      p.col-xs-12.p-new México se construyó a base de esfuerzo y dedicación, justamente eso queremos hacer eso son historyBoard. Este es tu lienzo en blanco, EMPECEMOS!
      .row.col-xs-12
        .input-field.col.s12
          label.active.label-act(for='title') Antes que nada necesitas un titulo llamativo y genial
          input#title.validate(type='text', placeholder)
      .col-xs-12
        form.col-md-6(action='#')
          p.description-p Vamos a darle vida a tu publicación, selecciona una imágen para la miniatura.
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        form.col-md-6(action='#')
          p.description-p Ahora selecciona una imágen para mostrarla en grande en tu publicación.
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
      .row.col-xs-12.m-t-15
        .input-field.col.s12
          label.active.label-act(for='title') De qué estado de México es tu publicación?
          input#title.validate(type='text', placeholder)
      .col-xs-12.p-r-25.p-l-25.m-0
        p.description-p Introduce la fecha en la que ocurrieron los hechos de tu publicación
        input.datepicker(type='text')
      .row.col-xs-12.m-b-0
        form.col.s12.m-t-25
          .row
            .input-field.col-xs-12.p-0
              label.label-act(for='textarea1') Ahora si, dinos todo lo que tengas que decir! (nosotros lo acomodamos).
              textarea#textarea1.materialize-textarea.m-t-25(placeholder)
      .col-xs-12.p-l-25.p-r-25
        p.description-p Por último, selecciona 5 imágenes para mostrar en tu publicación
        form.col-md-12.p-0(action='#')
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        form.col-md-12.p-0(action='#')
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        form.col-md-12.p-0(action='#')
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        form.col-md-12.p-0(action='#')
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
        form.col-md-12.p-0(action='#')
          .file-field.input-field
            .btn
              span Img
              input(type='file')
            .file-path-wrapper
              input.file-path.validate(type='text')
      .col-xs-12.text-center.m-t-30
        a(href="#", class="btn btn-primary", data-toggle="modal", data-target=".register-modal") PUBLICAR

      .modal.fade.register-modal(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
        .modal-dialog.modal-lg
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') ×
              h4#gridSystemModalLabel.modal-title GRACIAS
            .modal-body
              .body-message.col-xs-12
                .col-xs-12.col-md-4
                  img(src="/images/pedro.png")

                .col-xs-12.col-md-8.material-input
                  input-field.col.s6
                    label.l-style AJUA! ESTAS A PUNTO DE REALIZAR UNA PUBLICACION Y SER PARTE DE NUESTRA HISTORIA


                  .col-xs-12.text-center
                    a.waves-effect.waves-light.btn(href="../../publications/ultimasPublicaciones") PUBLICAR
