extends ../layout

block content
  h1 Yo soi editar de la publicacion con el id: #{contenido}
  a(href='http://localhost:3000/publicacion/id') id
  br
  br
  a(href='http://localhost:3000/publicacion/nueva') nueva
