extends ../layout

block content
  form(action="/publications/test/2",method='POST',enctype="multipart/form-data",contentType = false)
   input(type="file",name="img")
   input(type="file",name="img")
   input(type="file",name="img")
   input(type="file",name="img")
   input(type="file",name="img")
   input(type="file",name="img")
   input(type="submit",value="Submit")
